{% load static %}

section.jumbotron{
  text-align: center;
}
div.box-puneet{
  background-image: url("{% static "image/port_img.jpg" %}");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
