{% extends "jobs/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href={% static "/css/base.css" %} />
<script src="{% static '/js/script.js' %}"></script>
{% endblock %}

{% block content %}

<main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>
          <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im PuneetGupta.", "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
            <span class="wrap"></span>
          </a>
        </h1>
        <p class=" font-weight-bolder ">Machine learning enthusiast, hardworking and ability of self-learning and strong power of execution.
          I enjoy meeting new people and finding ways to help them have an uplifting experience. </p>
        <p class="font-italic font-weight-lighter">"The way to succeed is to double your failure rate."</p>
        <p>
          <a href="mailto:punitgupta1811@gmail.com" class="btn btn-success my-2">Email Me</a>
        </p>
      </div>
    </section>


  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row pt-1">
        {% for job in jobs.all %}
        <div class="col-lg-4 col-sm-6 py-2">
          <div class="card h-75 text-center" style="width: 18rem;">
            <div class="embed-responsive embed-responsive-16by9">
              <img src="{{ job.image.url }}" class="card-img-top embed-responsive-item" alt="The important thing to remember is not to forget">
            </div>
            <div class="card-body d-flex flex-column ">
              <h5 class="card-title">{{ job.title }}</h5>
              <p class="card-text-center">{{ job.body }}</p>
              <!-- <a href="{{ job.link }}" class="btn btn-secondary btn-lg btn-block text-truncate mt-auto">Project link</a> -->
              <div class="card-body">
                <div class="row">
                  <div class=" col-xs-6 mx-3 mb-5">
                    <a href="{{ job.link }}" class="card-link btn btn-secondary btn-lg btn-block text-truncate mt-auto">Project</a>
                  </div>
                  <div class="col-xs-6 mr-1">
                    <a href="{{ job.link }}" class="card-link btn btn-primary btn-lg btn-block text-truncate mt-auto">Detail</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</main>

{% endblock %}
